body{
	background-color: powderblue;
	text-align: center;
}

.start{
	margin-left: 40%;
	margin-right:50%;
	width: 15%;
	background-color: green;

}
#winnerPrint{
	
}
.className{

}
img{
	/*float: left*/
	width: 100px;
	height: 150px;
	border-radius: 0.5em;
}
